apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vcode-operator-{{name}}
  namespace: {{namespace}}
  labels:
    app: vcode-operator-{{name}}
    app.kubernetes.io/managed-by: "vcode-operator"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{volumeSize}}
  storageClassName: {{storageClassName}}
