apiVersion: v1
kind: Service
metadata:
  name: vcode-operator-{{name}}
  namespace: {{namespace}}
  labels:
    app: vcode-operator-{{name}}
    app.kubernetes.io/managed-by: "vcode-operator"
spec:
  selector:
    app: vcode-operator-{{name}}
  type: ClusterIP
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080